<?xml version="1.0"?>
<robot name="manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <!-- Load proper ros2 control plugin based on simulator -->
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionRos2ControlPlugin">
                <parameters>

                </parameters>
            </plugin>

        </xacro:if>
        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>

                </parameters>
            </plugin>
        </xacro:unless>
    </gazebo>
</robot>