<?xml version="1.0"?>
<robot name="manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ROS 2 Control -->
    <gazebo>
        <!-- ROS 2 Humble -->
        <xacro:if value="$(arg is_ignition)">
            <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find manipulator_controller)/config/manipulator_controller.yaml</parameters>
            </plugin>
        </xacro:if>

        <!-- ROS 2 Iron or above -->
        <xacro:unless value="$(arg is_ignition)">
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find manipulator_controller)/config/manipulator_controller.yaml</parameters>
            </plugin>
        </xacro:unless>
    </gazebo>

    <gazebo reference="base_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="base_plate">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="forward_drive_arm">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="horizontal_arm">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="claw_support">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="gripper_finger_left">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="gripper_finger_right">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>